<div class="mb-5">
    <div class="container">
        <dl class="faq">

            <dt class="mt-5">Can I add several series at once?</dt>
            <dd>Yes. Separete each series with an empty line and copy to Input area. Click "Add Dummy Data" for example
            </dd>

            <dt class="mt-5">I don't like "series_1", "series_2" name. Can I change them?</dt>
            <dd>Yes. Click on the series name in the "Data view", change the name and hit "Enter". You will see the new name on new figures
            </dd>

            <dt class="mt-5">Why even bother with yet another online plotting tool?</dt>
            <dd>Other tools ask to input values one by one or load csv file. It is too long for such a quick task if you
                have values from some script or program.</dd>

            <dt class="mt-5">Why there are no ... feature?</dt>
            <dd>E-mail me if you think some feature may be useful for users</dd>

            <dt class="mt-5">Why there are no ... plot type?</dt>
            <dd>See above</dd>
        </dl>
    </div>

</div>
<router-outlet></router-outlet>