<header class="mb-3">
    <div class="container">
        <nav class="navbar mb-3">
            <a class="navbar-brand" routerLink="" routerLinkActive="active" href="/"><img src="assets/img/logo2.png" class="logo-img"></a>
            <div class="navbar-expand mr-auto">
                <div class="navbar-nav">
                    <a class="nav-link" routerLink="/">Home</a>
                    <a class="nav-link" routerLink="/faq" routerLinkActive="active">FAQ</a>
                </div>
            </div>

        </nav>
    </div>

</header>