<footer class="page-footer">
    <div class="container">
        <div class="content has-text-centered">
            <p>
                Made to make life a bit easier. With any questions, suggestion e-mail me to <a
                    href="mailto:v.tsyvina@gmail.com">v.tsyvina@gmail.com</a><br />
                The code is available at <a href="https://github.com/vyacheslav-tsivina/just-plot-it" target="_blank"><i
                        class="fa fa-github"></i> github </a>
            </p>
        </div>
    </div>
</footer>