<h4>Data input</h4>
<div class="mb-2">
    <div class="form-group">
        <input class="form-control" type="text" placeholder="Delimiter" [(ngModel)]="delimiter">
    </div>
    <div class="form-group">
        <label for="dataInputArea">Input series</label>
        <button type="button" class="btn btn-warning ml-2 mb-2" (click)="clearInput()"> <i
                class="glyphicon glyphicon-eye-close"></i>Clear</button>
        <textarea class="form-control" id="dataInputArea" rows="10" [(ngModel)]="input_text"></textarea>
        <div *ngIf="errorMessage" class="alert alert-danger" role="alert">{{errorMessage}}</div>
    </div>

    <button type="button" class="btn btn-primary" (click)="loadData()">Load data</button>
</div>