#dataInputArea {
    font-family: 'Courier New', Courier, monospace;
    white-space: nowrap;
    font-size: 12px;
}

.format-tooltip {
    font-size: 13px;
    color: grey;
    text-decoration: underline
}