<div class="mb-5">
    <div class="row">
        <div class="col-md-9">
            <canvas #canvas>

            </canvas>
        </div>
        <div class="col-md-3">
            <button type="button" class="btn btn-warning mb-2" (click)="deleteFigure()">Delete</button>
            <h5>Options</h5>
            <ngb-accordion #acc="ngbAccordion">
                <ngb-panel title="Chart Type" *ngIf="dataSeries[0].type != 'x/y'">
                    <ng-template ngbPanelContent>
                        <div>
                            Chart Type <span class="info-message">(will reset other configuration like colors and
                                labels)</span>
                            <select [(ngModel)]="selectedChartType" class="form-control" (change)="changeChartType()">
                                <option *ngFor="let type of chartTypes" value="{{type.id}}"
                                    [selected]="type.id == 'bar'">{{type.label}}</option>
                            </select>
                        </div>
                    </ng-template>
                </ngb-panel>
                <ngb-panel title="Axis">
                    <ng-template ngbPanelContent>
                        <div *ngIf="dataSeries[0].type == 'x/y'">

                            <div>
                                <div class="axis-label mb-1">xmin:</div> <input type="number" [(ngModel)]="xmin">
                            </div>
                            <div>
                                <div class="axis-label mb-1">xmax:</div> <input type="number" [(ngModel)]="xmax">
                            </div>
                        </div>
                        <div>
                            <div class="axis-label mb-1">ymin:</div> <input type="number" [(ngModel)]="ymin">
                        </div>
                        <div>
                            <div class="axis-label mb-1">ymax:</div> <input type="number" [(ngModel)]="ymax">
                        </div>
                        <span *ngIf="dataSeries[0].type != 'x/y'"><input type="checkbox"
                                (click)="stackedCategories($event.target.checked)"> Stacked columns <br /></span>
                        <span *ngIf="dataSeries[0].type == 'x/y'"><input type="checkbox"
                                (click)="logarithmicScale($event.target.checked,'x')"> Logarithmic X axes <br /></span>
                        <input type="checkbox" (click)="logarithmicScale($event.target.checked,'y')"> Logarithmic Y axes
                        <br />
                        <button type="button" class="btn btn-primary btn-sm mt-1" (click)="updateAxes()"><i
                                class="fa fa-save"></i></button>
                    </ng-template>
                </ngb-panel>
                <ngb-panel title="Colors">
                    <ng-template ngbPanelContent>
                        <div *ngFor="let d of colors; let i = index">
                            {{dataSeries[i].name}} <br />
                            <div class="color-picker-container">
                                background: <input [(colorPicker)]="d.back" [style.background]="d.back" /> line: <input
                                    [(colorPicker)]="d.line" [style.background]="d.line" />
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary btn-sm mt-1" (click)="updateColors()"><i
                                class="fa fa-save"></i></button>
                    </ng-template>
                </ngb-panel>
                <ngb-panel title="Labels">
                    <ng-template ngbPanelContent>
                        <div>
                            Chart title <input type="text" [(ngModel)]="titleInput" class="mb-1"> <br>
                            X label <input type="text" [(ngModel)]="xLabelInput" class="mb-1"> <br>
                            Y label <input type="text" [(ngModel)]="yLabelInput" class="mb-1"> <br>
                            <span *ngIf="dataSeries[0].type == 'x/y'">
                                X units <input type="text" [(ngModel)]="xUnitsInput" class="mb-1"><br /></span>
                            Y units <input type="text" [(ngModel)]="yUnitsInput" class="mb-1"><br />
                            <button type="button" class="btn btn-primary btn-sm mt-1" (click)="updateLabels()"><i
                                    class="fa fa-save"></i></button>
                        </div>
                    </ng-template>
                </ngb-panel>
                <!-- Doesn't work for now -->
                <!-- <ngb-panel title="Configuration">
                    <ng-template ngbPanelContent>
                        <div>
                            Show line<br>
                            <div *ngFor="let s of dataSeries" class="series-configuration">
                                    <input #checkbox type="checkbox" class="form-check-input" name="series_chosen"
                                    value="{{s.id}}" (change)="changeShowLine($event)" checked="true">
                                <div #series_div class="series-name">{{s.name}}</div>
                            </div>
                            
                        </div>
                    </ng-template>
                </ngb-panel> -->

                <!-- Let it be the last one -->
                <ngb-panel title="Export">
                    <ng-template ngbPanelContent>
                        <button type="button" class="btn btn-primary btn-sm mb-1 ml-1" (click)="export('jpeg')"><i
                                class="fa fa-picture-o"></i> Export as JPEG</button>
                        <button type="button" class="btn btn-primary btn-sm mb-1 ml-1" (click)="export('png')"><i
                                class="fa fa-picture-o"></i> Export as PNG</button>
                    </ng-template>
                </ngb-panel>

            </ngb-accordion>

        </div>
    </div>
</div>