.card-header{
    padding: 0px 12px;
}

.card-body{
    padding: 5px 17px;
    font-size: 14px;
}

.card{
    position: initial !important;
}

.axis-label{
    display: inline-block;
    width: 40px;
}

.color-picker-container input{
    width : 25px;
    height : 25px;
}

.color-picker-container{
    display: inline-block
}

.info-message{
    color: grey;
    font-size: 12px;
}

.series-configuration {
    padding-left: 20px
}

.point-range-input{
    width: 3em!important;
}