<div class="mb-5">
    <div class="row">
        <div class="col-md-9">
            <canvas #canvas>

            </canvas>
        </div>
        <div class="col-md-3">
            <button type="button" class="btn btn-warning mb-2" (click)="deleteFigure()">Delete</button>
            <h5>Options</h5>
            <ngb-accordion #acc="ngbAccordion">
                <ngb-panel title="Chart Type" *ngIf="dataSeries[0].type != 'x/y'">
                    <ng-template ngbPanelContent>
                        <div>
                            Chart Type <span class="info-message">(will reset other configuration like colors and
                                labels)</span>
                            <select [(ngModel)]="selectedChartType" class="form-control" (change)="changeChartType()">
                                <option *ngFor="let type of chartTypes" value="{{type.id}}"
                                    [selected]="type.id == 'bar'">{{type.label}}</option>
                            </select>
                        </div>
                    </ng-template>
                </ngb-panel>
                <ngb-panel title="Axis" *ngIf="chartType == 'bar' || chartType == 'scatter' || chartType == 'line'">
                    <ng-template ngbPanelContent>
                        <div *ngIf="dataSeries[0].type == 'x/y'">

                            <div>
                                <div class="axis-label mb-1">xmin:</div> <input type="number" [(ngModel)]="xmin">
                            </div>
                            <div>
                                <div class="axis-label mb-1">xmax:</div> <input type="number" [(ngModel)]="xmax">
                            </div>
                        </div>
                        <div>
                            <div class="axis-label mb-1">ymin:</div> <input type="number" [(ngModel)]="ymin">
                        </div>
                        <div>
                            <div class="axis-label mb-1">ymax:</div> <input type="number" [(ngModel)]="ymax">
                        </div>
                        <span *ngIf="dataSeries[0].type != 'x/y'"><input type="checkbox"
                                (click)="stackedCategories($event.target.checked)"> Stacked columns <br /></span>
                        <span *ngIf="dataSeries[0].type == 'x/y'"><input type="checkbox"
                                (click)="logarithmicScale($event.target.checked,'x')"> Logarithmic X axes <br /></span>
                        <input type="checkbox" (click)="logarithmicScale($event.target.checked,'y')"> Logarithmic Y axes
                        <br />
                        <button type="button" class="btn btn-primary btn-sm mt-1" (click)="updateAxes()"><i
                                class="fa fa-save"></i></button>
                    </ng-template>
                </ngb-panel>
                <ngb-panel title="Colors">
                    <ng-template ngbPanelContent>
                        <button type="button" class="btn btn-primary btn-sm mt-1 float-right"
                            (click)="advanceColorSettings = !advanceColorSettings" title="Advanced settings"><i
                                class="fa fa-sliders-h"></i></button>
                        <div *ngIf="chartType == 'pie' || chartType == 'doughnut' ; else colorsElseBlock">
                            <div *ngFor="let d of colors; let i = index">
                                <b>{{dataSeries[i].name}}</b> <br />
                                <div *ngFor="let j of labelsKeysArray(dataSeries[i])" class="color-picker-container">
                                    {{dataSeries[i].labelsX[j]}}<br>
                                    background: <input [(colorPicker)]="d.back[j]" [style.background]="d.back[j]" />
                                    line:
                                    <input [(colorPicker)]="d.line[j]" [style.background]="d.line[j]" />
                                </div>
                            </div>
                        </div>
                        <ng-template #colorsElseBlock>
                            <div>
                                <div *ngFor="let d of colors; let i = index">
                                    <b>{{dataSeries[i].name}}</b> <br />
                                    <div class="color-picker-container">
                                        background: <input [(colorPicker)]="d.back" [style.background]="d.back" /> line:
                                        <input [(colorPicker)]="d.line" [style.background]="d.line" />
                                    </div>
                                    <div *ngIf="advanceColorSettings">
                                        <div *ngIf="chartType=='scatter' || chartType=='line' ">X points color ranges:
                                        </div>
                                        <div *ngIf="chartType=='bar'">values color ranges:</div>
                                        <div *ngFor="let cp of xPointsColors[i] ; let k = index">

                                            <div class="color-picker-container">
                                                from: <input [(ngModel)]="cp.start" class="point-range-input">
                                                to: <input [(ngModel)]="cp.stop" class="point-range-input">
                                                <input [(colorPicker)]="cp.color" [style.background]="cp.color" />
                                                <button type="button" class="btn btn-danger btn-sm  m-1"
                                                    (click)="xPointsColors[i].splice(k,1)"><i
                                                        class="fa fa-minus"></i></button>
                                            </div>

                                        </div>
                                        <button type="button" class="btn btn-primary btn-sm"
                                            (click)="addXpointColor(i)"><i class="fa fa-plus"></i></button>
                                        <div *ngIf="chartType=='scatter' || chartType=='line' ">
                                            <div>Y points color ranges:</div>
                                            <div *ngFor="let cp of yPointsColors[i]">

                                                <div class="color-picker-container">
                                                    from: <input [(ngModel)]="cp.start" class="point-range-input">
                                                    to: <input [(ngModel)]="cp.stop" class="point-range-input">
                                                    <input [(colorPicker)]="cp.color" [style.background]="cp.color" />
                                                    <button type="button" class="btn btn-danger btn-sm  m-1"
                                                        (click)="yPointsColors[i].splice(k,1)"><i
                                                            class="fa fa-minus"></i></button>
                                                </div>

                                            </div>
                                            <button type="button" class="btn btn-primary btn-sm"
                                                (click)="addYpointColor(i)"><i class="fa fa-plus"></i></button>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </ng-template>


                        <button type="button" class="btn btn-primary btn-sm mt-1" (click)="updateColors()"><i
                                class="fa fa-save"></i></button>
                    </ng-template>
                </ngb-panel>
                <ngb-panel title="Labels">
                    <ng-template ngbPanelContent>
                        <div>
                            Chart title <input type="text" [(ngModel)]="titleInput" class="mb-1"> <br>
                            <div *ngIf="chartType == 'bar' || chartType == 'scatter' || chartType == 'line' ">
                                X label <input type="text" [(ngModel)]="xLabelInput" class="mb-1"> <br>
                                Y label <input type="text" [(ngModel)]="yLabelInput" class="mb-1"> <br>
                                <span *ngIf="dataSeries[0].type == 'x/y'">
                                    X units <input type="text" [(ngModel)]="xUnitsInput" class="mb-1"><br /></span>
                                Y units <input type="text" [(ngModel)]="yUnitsInput" class="mb-1"><br />
                            </div>

                            <button type="button" class="btn btn-primary btn-sm mt-1" (click)="updateLabels()"><i
                                    class="fa fa-save"></i></button>
                        </div>
                    </ng-template>
                </ngb-panel>
                <ngb-panel title="Configuration">
                    <ng-template ngbPanelContent>
                        <div *ngIf='chartType=="line" || chartType=="scatter"'>
                            Show line<br>
                            <div *ngFor="let s of dataSeries; let indexOfelement=index;" class="series-configuration">
                                <input #checkbox type="checkbox" class="form-check-input" name="series_chosen"
                                    value="{{indexOfelement}}" (change)="changeShowLine($event)" checked="true">
                                <div #series_div class="series-name">{{s.name}}</div>
                            </div>

                        </div>
                        <div *ngIf='chartType=="violin" || chartType=="boxplot"'>
                            Show points: <input type='checkbox' [(ngModel)]="violinSettings.showPoints"> <br>
                            Point radius: <input type='number' [(ngModel)]="violinSettings.itemRadius"> <br>
                            <div class="color-picker-container">
                                Outlier color: <input [(colorPicker)]="violinSettings.outlierColor" [style.background]="violinSettings.outlierColor" />
                            </div> <br>
                            

                            <button type="button" class="btn btn-primary btn-sm mt-1" (click)="updateViolinBoxplot()"><i
                                class="fa fa-save"></i></button>
                        </div>
                    </ng-template>
                </ngb-panel>

                <!-- Let it be the last one -->
                <ngb-panel title="Export">
                    <ng-template ngbPanelContent>
                        <button type="button" class="btn btn-primary btn-sm mb-1 ml-1" (click)="export('jpeg')"><i
                                class="fa fa-picture-o"></i> Export as JPEG</button>
                        <button type="button" class="btn btn-primary btn-sm mb-1 ml-1" (click)="export('png')"><i
                                class="fa fa-picture-o"></i> Export as PNG</button>
                    </ng-template>
                </ngb-panel>

            </ngb-accordion>

        </div>
    </div>
</div>