<h4>Data view</h4>
<ng-template #tipContent>
    <div style="text-align: left">
        series has: <br />
        &ndash; 'x,y' - both x and y <br />
        &ndash; 'categories' - values and labels <br />
        &ndash; 'values' - only values
    </div>

</ng-template>
<button type="button" class="btn btn-danger mr-2" (click)="eraseAll()">Erase All Series</button>
<button type="button" class="btn btn-warning" (click)="clearSelected()">Clear Selected</button>
<div class="form-check">
    <h6 *ngIf="series.length > 0" class="mt-3">Select series to plot:</h6>
    <div *ngFor="let s of series">
        <input #checkbox type="checkbox" class="form-check-input" name="series_chosen" value="{{s.id}}"
            (change)="checkValue($event)">
        <div #series_div class="series-name" (click)="editName(series_name, series_div, name_input, s)"><span
                #series_name>{{s.name}}</span> <span class="series-type" placement="right" [ngbTooltip]="tipContent">
                type: <span>{{s.type}}</span></span></div>
        <input #name_input type="text" hidden="true" (keydown)="onInputKeydown($event)">
    </div>
</div>

<button type="button" class="btn btn-primary mt-2" (click)="createFigure()">Create figure</button>