<div class="container">
    <div class="row">
        <ol>
            <li>Paste data and click "Load data"</li>
            <li>Select series to plot from "Data view" and click "Create figure"</li>
            <li>Enjoy</li>
        </ol>
    </div>
    <div class="row">
        <div class="col-md-8">
            <data-loader></data-loader>
        </div>
        <div class="col-md-4">
            <data-view></data-view>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <plot-data></plot-data>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
